body{
    background-color: black;
    margin:0;
}

section{
    background-color: black;
    height: 100vh;
    display:flex;
    align-items: center;
    margin-bottom: 15px;
    
}

h1,h2,h3{
    color:#FFC107;
}

hr {
    background-color: #FFC107;
    height: 2px;
    font-weight: bolder;
}

.nav-link{
    color:#FFC107 !important;
}

nav button
{
    color: #FFC107 !important;
}

p{
    color: #FFC107;
}

.apropos{
    background-color: #212529;
    width: 100%;
}

.competences{
    background-color: #212529;
}

.skillLogo{
    height: 40px;
    width: 40px;
}

.skillContainer{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}